@media only screen and (max-width : 768px) {
.sidebar {
  display: none;
}

#manu-toggle {
  display: none;
}

.menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 30px;
  height: 22px;
  cursor: pointer;
  z-index: 1002;
}

.menu-btn span{
  display: block;
  height: 3px;
  width: 100%;
  background: var(--color-egypt);
  border-radius: 3px;
  transition: 0.3s;
}

.slade-menu {
  position: fixed;
  top: 0;
  left: -250px; 
  width: 250px;
  height: 100%;
  background: rgba(255, rgba(0, 0, 0, 0.2));
  color: var(--color-egypt);
  transition: left 0.3s ease;
  padding: 60px;
  z-index: 1001;
}

li {
  box-shadow: inset 0 0 0 0 #54b3d6;
  color: #54b3d6;
  padding: 0 .25rem;
  margin: 0 -.25rem;
  transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
li:hover {
  color: #fff;
  box-shadow: inset 200px 0 0 0 #54b3d6;;
}

/* Presentational styles */
li {
  color: #54b3d6;
  font-family: 'Poppins', sans-serif;
  font-size: 27px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
}

.slade-menu ul, li:hover{
  cursor: pointer;
}
}