@media only screen and (max-width : 768px) {
  .sidebar {
    display: none;
  }

  #menu-toggle {
    display: none;
  }

  .menu {
    background: var(--color-oxblood);
  }

  #menu-toggle:checked+.menu-btn span:nth-child(1) {
    transform: rotate(45deg) translateY(8px) translateX(6px);

  }

  #menu-toggle:checked+.menu-btn span:nth-child(2) {
    opacity: 0;
  }

  #menu-toggle:checked+.menu-btn span:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px) translateX(5px);
  }

  img {
    background: var(--color-egypt);
    border-radius: 50%;
    position: fixed;
    left: 20px;
    top: 20px;
    width: 30px;
    height: 30px;
    z-index: 1002;
  }

  .menu-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 22px;
    cursor: pointer;
    z-index: 1002;
  }

  .menu-btn span {
    display: block;
    height: 3px;
    width: 100%;
    background: var(--color-egypt);
    border-radius: 3px;
    transition: 0.3s;
  }

  .slide-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 250px;
    height: 100%;
    background: var(--color-oxblood);
    z-index: 1001;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: right 0.3s ease;
  }

  .fancy-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .fancy-item {
    font-size: 30px;
    position: relative;
    height: 48px;
    padding: 8px 28px;
    display: flex;
    gap: 28px;
    align-items: center;
    color: var(--color-egypt);
    cursor: pointer;
    overflow: hidden;
  }

  .fancy-item:hover {
    box-shadow: inset 3px 0 0 0 var(--color-crimson);
  }

  .item-text {
    position: relative;
    z-index: 10;
  }

  #menu-toggle:checked~.slide-menu {
    right: 50%;
    /* desliza para dentro da tela */
  }

  .remove {
    display: none;
  }
}